@import "null.scss";
@import "params.scss";

.reviews {
  padding-bottom: 30px;

  &__navigation {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 30px;

    @media (max-width: 767px) {
      column-gap: 5px;
    }
  }

  &__button {
    font-size: 20px;
    border: 1px solid #000;
    padding: 10px 20px;
    max-width: 300px;
    border-radius: 20px;

    @media (max-width: 767px) {
      font-size: 18px;
      padding: 10px 10px;
    }

    &.--tab-active {
      color: white;
      background-color: #000;
    }
  }

  &-item {

    &__link {
      display: block;
      border-radius: 20px;
      overflow: hidden;

      &::after {
        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        width: min(15vw, 100px);
        height: min(15vw, 100px);
        background-color: rgba(255, 255, 255, 0.8);
        background-image: url("https://prev.lasercut.ru/landing/img/play-icon.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      @media (any-hover: hover) {
        &:hover {
          .reviews-item__img {
            transform: scale(1.07);
          }

          &::after {
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    &__img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      transition: transform 0.3s ease 0s;
      object-fit: cover;
      aspect-ratio: 16 / 9;
    }
  }

  .swiper {
    max-width: 1200px;
    padding: 0 50px;

    --swiper-navigation-sides-offset: 0px;
    --swiper-theme-color: #ffffff;
    --swiper-navigation-size: 16px !important;
    --swiper-navigation-top-offset: 45%;
    --swiper-pagination-color: #f34841;

    &-pagination {
      position: static;
      padding-top: 20px;

      &-bullet {
        margin-right: 20px;
        border-radius: 50%;

        @media (max-width: 479px) {
          margin-right: 8px;
        }
      }
    }

    &-button-prev, &-button-next {
      padding: 23px;
      background-color: rgba(138, 138, 138, 0.67) !important;
      border-radius: 50%;
      transition: background-color 0.3s ease 0s;

      @media (any-hover: hover) {
        &:hover {
          background-color: #f34841 !important;
        }
      }
    }
  }
}

//===============================================================

.types-cut {
  padding: 20px 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    column-gap: 10px;
    row-gap: 20px;
    margin-bottom: 20px;

    > * {
      grid-column: 6 span;
      margin: 0 auto;
    }
  }

  &-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    background-color: white;
    border-radius: 15px;
    max-width: 650px;
    padding: 15px;
    transition: box-shadow 0.3s ease 0s;

    @media (max-width: 767px) {
      padding: 8px;
    }

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)
      }
    }

    &__video {
      display: block;
      max-width: 100%;
      object-fit: cover;
      margin-bottom: 10px;
      border-radius: 15px;

      @media (max-width: 1279px) {
        height: auto;
      }
      @media (max-width: 767px) {
        margin-bottom: 5px;
      }
    }

    &__title {
      font-size: 32px;
      letter-spacing: 1px;
      font-weight: 600;
      word-break: break-all;
      margin-bottom: 8px;

      @media (max-width: 1279px) {
        font-size: 24px;
        margin-bottom: 5px;
      }
      @media (max-width: 767px) {
        font-size: 20px;
      }
    }

    &__text {
      color: grey;
      line-height: 1.1;
      margin-bottom: 10px;

      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 1;
        margin-bottom: 10px;
      }
    }
  }
}

//===============================================================

.manager {
  background: linear-gradient(180deg, #ffffff 0%, #e7f0fb 100%);

  &__wrapper {
    display: flex;
    column-gap: 30px;

    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &-about {
    display: flex;
    flex-direction: column;
    flex: 0 1 30%;
    padding-bottom: 80px;

    @media (max-width: 1024px) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 40px;
    }

    &__text-block {
      flex: 1 1 30%;
    }

    &__rating-block {
      flex: 1 1 auto;
    }

    &__title {
      font-family: 'CeraPro', serif;
      font-size: 48px;
      white-space: nowrap;
      font-weight: 500;
      line-height: 55px;
      margin-bottom: 30px;

      @media (max-width: 1270px) {
        font-size: 38px;
        line-height: 30px;
        margin-bottom: 10px;
      }
    }

    &__text {
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 45px;

      @media (max-width: 1279px) {
        line-height: 20px;
        margin-bottom: 25px;
      }
    }

    &__list {
      display: flex;
      column-gap: 62px;
      margin-bottom: 90px;

      @media (max-width: 1279px) {
        column-gap: 20px;
        margin-bottom: 35px;
      }
    }

    &__icons {
      display: flex;
      column-gap: 23px;
    }

    &-item {

      &__value {
        display: flex;
        column-gap: 14px;
        align-items: center;
      }

      &__number {
        font-family: 'CeraPro', serif;
        font-size: 46px;
        font-weight: 700;
        line-height: 43px;

        @media (max-width: 1279px) {
          font-size: 36px;
          line-height: 35px;
        }
      }

      &__title {
        font-family: 'CeraPro', serif;
        font-size: 24px;
        font-weight: 700;

        @media (max-width: 1279px) {
          font-size: 18px;
        }
      }

      &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        white-space: nowrap;

        @media (max-width: 1279px) {
          font-size: 14px;
          line-height: 20px;
        }
      }

      &__stars {
        color: rgba(255, 230, 0, 1);
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 5px;

        @media (max-width: 1279px) {
          font-size: 18px;
        }

        @media (any-hover: hover) {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &-media-block {
    display: flex;
    position: relative;
    margin-left: auto;
    background: url('https://i.ibb.co/pKXntxk/person-background.png') 75px 6px / contain no-repeat;

    @media (max-width: 1023px) {
      margin: 0 auto;
    }

    @media (max-width: 479px) {
      background-position: 38px 0;
    }

    &__image {
      display: block;
      align-self: flex-end;
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }

    &-modal {
      position: absolute;
      bottom: 14px;
      left: -78px;
      max-width: 413px;
      padding: 14px 23px;
      border: 1px solid rgba(255, 255, 255, 0.16);
      border-radius: 20px;
      overflow: hidden;

      @media (max-width: 1279px) {
        left: 0;
      }

      @media (max-width: 479px) {
        padding: 5px 10px;
      }

      &__body {
        position: relative;
      }

      &__avatar {
        margin-right: 13px;
        background-color: rgba(0, 148, 218, 1);
        border-radius: 50%;
      }

      &__title {
        display: inline-block;
        font-size: 14px;
        font-family: 'CeraPro', serif;
        margin-bottom: 20px;
        padding-top: 7px;
        font-weight: 700;
        line-height: 7px;

        @media (max-width: 579px) {
          margin-bottom: 11px;
        }
      }

      &__text {
        font-family: 'Ubuntu', serif;
        line-height: 24px;
        border-top: 0.5px solid rgba(24, 157, 221, 1);
        padding-top: 8px;
        font-weight: 300;

        @media (max-width: 479px) {
          font-size: 14px;
          line-height: 19px;
          padding-top: 3px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
                        0deg,
                        rgba(255, 255, 255, 0.38),
                        rgba(255, 255, 255, 0.38)
        ),
        linear-gradient(
                        0deg,
                        rgba(255, 255, 255, 0.16),
                        rgba(255, 255, 255, 0.16)
        );
        backdrop-filter: blur(10px);
      }
    }
  }

  &-achievements {
    background: rgba(247, 247, 247, 1);

    &__list {
      padding-top: 40px;
      padding-left: 30px;
      padding-right: 30px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: auto; // or 1fr если нужно, чтобы блоки были одинаковой высоты
      gap: 10px;

      > * {
        grid-column: 3 span;
      }

      @media (max-width: 767px) {
        > * {
          grid-column: 6 span;
        }
      }
    }

    &-item {
      max-width: 213px;

      &__image-container {
        position: relative;
        width: 90px;
        height: 103px;
        margin-bottom: 24px;

        img {
          position: relative;
          top: 29px;
          left: 10px;
          width: 41px;
          height: 41px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(0, 148, 218, 1);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
          width: 100%;
          height: 100%;
        }
      }

      &__text {
        margin-bottom: 50px;
        font-family: 'CeraPro', serif;
        font-size: 22px;
        line-height: 26px;

        @media (max-width: 1279px) {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

//===============================================================

.bloggers {
  padding: 40px 0;

  //.bloggers__title
  &__title {
    font-size: 46px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 35px;
    font-family: "Cera Pro", Helvetica, sans-serif;

    @media (max-width: 767px) {
      font-size: 24px;
    }

    @media (max-width: 479px) {
      margin-bottom: 15px;
    }
  }

  // .bloggers__list
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto; // or 1fr если нужно, чтобы блоки были одинаковой высоты
    column-gap: 30px;
    row-gap: 40px;

    @media (max-width: 479px) {
      column-gap: 8px;
      row-gap: 20px;
    }

    > * {
      grid-column: 4 span;

      @media (max-width: 767px) {
        grid-column: 6 span;
      }
    }
  }

  // .bloggers-item
  &-item {

    // .bloggers-item__photo-link
    &__photo-link {
      display: block;
      overflow: hidden;

      @media (any-hover: hover) {
        &:hover, &:focus {
          .bloggers-item__photo {
            transform: scale(1.1);
          }
        }
      }
    }

    // .bloggers-item__photo
    &__photo {
      margin: 0 auto;
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      transition: transform 0.3s ease-in;
    }

    // .bloggers-item__logo-link
    &__logo-link {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (any-hover: hover) {
        &:hover, &:focus {
          .bloggers-item__logo-image {
            transform: scale(1.1);
          }
        }
      }
    }

    // .bloggers-item__logo-image
    &__logo-image {
      position: absolute;
      transition: transform 0.3s ease-in;

      @media (max-width: 767px) {
        width: 80px;
        height: 80px;
      }
    }

    // .bloggers-item__text-block
    &__text-block {
      text-align: center;
    }

    // .bloggers-item__name-link
    &__name-link {
      display: inline-block;
      font-size: clamp(16px, 5vw, 24px);
      line-height: 1.1;
      font-weight: 600;
      margin-top: 65px;
      margin-bottom: 5px;
      transition: color 0.3s ease-in;
      font-family: "Cera Pro", Helvetica, sans-serif;

      @media (max-width: 767px) {
        margin-top: clamp(40px, 5vw, 65px);
      }

      @media (any-hover: hover) {
        &:hover, &:focus {
          color: $primary-color;
        }
      }
    }

    // .bloggers-item__name
    &__name {
      font-size: 18px;
      margin-bottom: 8px;
      font-family: "Cera Pro", Helvetica, sans-serif;

      @media (max-width: 479px) {
        font-size: 16px;
      }
    }

    // .blogger-item__username
    &__username {
      font-size: 14px;
      color: $greyColor;
      font-family: "Cera Pro", Helvetica, sans-serif;
    }
  }
}

//===============================================================

.blogger {

  position: relative;
  margin-top: 40px;

  // .blogger__background
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 430px;
    width: 100%;
    background: url('https://i.ibb.co/Wfd36VX/blogger-Bg.png') 0 0 / cover no-repeat;
    z-index: -1;
  }

  // .blogger__wrapper
  &__wrapper {
  }

  // .blogger__flex-cnt
  &__flex-cnt {
    display: flex;
    margin-bottom: clamp(50px, 5vw, 120px);

    @media (max-width: 1279px) {
      flex-direction: column;
    }
  }

  //.blogger-description
  &-description {
    margin-top: 270px;
    padding-left: 50px;
    flex: 0 1 40%;

    @media (max-width: 1279px) {
      padding-left: 0;
      margin-top: 10px;
    }

    // .blogger-description__title
    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 41px;

      @media (max-width: 1279px) {
        margin-bottom: 5px;
      }
    }

    // .blogger-description__logo
    &__logo {

      @media (max-width: 1279px) {
        display: block;
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }

      @media (max-width: 767px) {
        width: 65px;
        height: 65px;
        margin-right: 12px;
      }
    }

    // .blogger-description__name
    &__name {
      font-size: clamp(24px, 5vw, 64px);
      line-height: 1.1;
      font-weight: 500;
      font-family: "Cera Pro", Helvetica, sans-serif;
    }

    // .blogger-description__text
    &__text {
      line-height: 1.4;
      margin-bottom: 36px;
      padding-left: 21px;
      max-width: 427px;

      @media (max-width: 1279px) {
        margin-bottom: 23px;
      }

      @media (max-width: 767px) {
        padding-left: 12px;
        line-height: 1.2;
      }
    }

    // .blogger-description__link
    &__link {
      display: inline-flex;
      align-items: center;
      column-gap: 14px;
      padding-left: 21px;
      font-family: "Cera Pro", Helvetica, sans-serif;

      svg {
        transition: transform 0.3s ease-in;
      }

      @media (max-width: 767px) {
        padding-left: 11px;

        svg {
          width: 45px;
          height: 30px;
        }
      }

      @media (any-hover: hover) {
        &:hover, &:focus {
          svg {
            transform: scale(1.1);
          }
        }
      }

      // .blogger-description__link-text
      &-text {
        font-size: clamp(14px, 3vw, 16px);
        padding-bottom: 1px;
        color: $redColor;
        border-bottom: 1px solid $redColor;
      }
    }

  }

  //.blogger-media-block
  &-media-block {
    flex: 1 1 auto;
    margin-top: 100px;

    @media (max-width: 1279px) {
      margin-top: 40px;
    }

    @media (max-width: 767px) {
      margin-top: 15px;
    }

    // .blogger-media-block__wrapper
    &__wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 auto;
      max-width: 582px;
      height: 100%;

      @media (max-width: 767px) {
        margin-bottom: 60px;
        picture, img {
          order: 2;
          margin-bottom: 15px;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 247px;
        left: -72px;
        background: url('https://i.ibb.co/sgXGCgz/blogger-Img-Bg.png') 0 0 / contain no-repeat;
        width: 477px;
        height: 477px;
        z-index: -1;

        @media (max-width: 1279px) {
          width: 0;
          max-width: 100%;
          height: auto;
          object-fit: cover;
        }

        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    // .blogger-media-block__image
    &__image {
      display: block;
      max-width: 582px;

      @media (max-width: 767px) {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    // .blogger-media-block__text-block
    &__text-block {
      position: absolute;
      bottom: 55px;
      left: -110px;
      display: inline-block;
      font-family: "Cera Pro", Helvetica, sans-serif;

      @media (max-width: 1279px) {
        position: static;
      }

      @media (max-width: 767px) {
        display: block;
        max-width: 100%;
        margin-top: 16px;
        margin-bottom: 10px;
        padding-right: 10px;
        order: 1;
      }
    }

    // .blogger-media-block__name
    &__name {
      font-size: 20px;
      font-weight: 500;
      font-style: italic;
      padding: 5px 5px;
      margin-bottom: 5px;

      @media (max-width: 1279px) {
        text-align: right;
      }

      @media (max-width: 767px) {
        text-align: left;
        padding: 0;
      }
    }

    // .blogger-media-block__description
    &__description {
      display: block;
      text-align: right;

      @media (max-width: 767px) {
        text-align: left;
      }
    }

    // .blogger-media-block__list
    &__list {

      @media (max-width: 767px) {
        position: relative;
        max-width: 100%;
        order: 3;
      }
    }

    // .blogger-media-block-item
    &-item {
      display: inline-block;
      position: absolute;
      padding: 18px 24px;
      border-radius: 15px;
      font-weight: 500;
      text-align: center;

      @media (max-width: 767px) {
        max-width: 300px;
        margin: 0 auto;
        padding: 13px 10px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(50px);
        border-radius: 15px;
      }

      // .blogger-media-block-item__count
      &__count {
        display: block;
        position: relative;
        font-size: clamp(16px, 4vw, 31.5px);
        margin-bottom: 3px;
        font-weight: 700;
      }

      // .blogger-media-block-item__text
      &__text {
        position: relative;

        @media (max-width: 767px) {
          font-size: 14px;
        }
      }

      // .blogger-media-block-item--videos
      &--videos {
        top: 425px;
        left: 30px;
        box-shadow: 0 0 35px rgba(255, 0, 0, 0.35);

        @media (max-width: 767px) {
          left: 5px;
          top: 0;
          box-shadow: 0 0 20px rgba(255, 0, 0, 0.35);
        }

        &::after {
          content: '';
          top: -15px;
          left: 35%;
          position: absolute;
          width: 31px;
          height: 31px;
          background: url('https://svgshare.com/i/16nq.svg') 0 0 / contain no-repeat;

          @media (max-width: 767px) {
            left: 34%;
            top: -10px;
            width: 20px;
            height: 20px;
          }
        }
      }

      // .blogger-media-block-item--subscribers
      &--subscribers {
        top: 175px;
        right: 370px;
        box-shadow: 0 0 35px rgba(255, 0, 0, 0.35);

        @media (max-width: 767px) {
          top: 0;
          right: 0;
          box-shadow: 0 0 20px rgba(255, 0, 0, 0.35);
        }

        &::after {
          content: '';
          top: -12px;
          left: 44%;
          position: absolute;
          width: 23px;
          height: 23px;
          background: url('https://svgshare.com/i/16pM.svg') 0 0 / contain no-repeat;

          @media (max-width: 767px) {
            left: 43%;
            width: 20px;
            height: 20px;
          }
        }
      }

      // .blogger-media-block-item--views
      &--views {
        top: 264px;
        right: -65px;
        box-shadow: 0 0 35px rgba(77, 168, 238, 0.35);

        @media (max-width: 767px) {
          top: 0;
          right: 0;
          left: 0;
          transform: translate(-21%, 0%);
          max-width: 100px;
          box-shadow: 0 0 20px rgba(77, 168, 238, 0.35);
        }

        &::after {
          content: '';
          top: -12px;
          left: 43%;
          position: absolute;
          width: 23px;
          height: 23px;
          background: url('https://svgshare.com/i/16os.svg') 0 0 / contain no-repeat;

          @media (max-width: 767px) {
            left: 40%;
            top: -10px;
            width: 20px;
            height: 20px;
          }
        }
      }


    }
  }

  //.blogger-videos
  &-videos {
    padding-bottom: clamp(15px, 5vw, 100px);

    // .blogger-videos__title
    &__title {
      font-size: clamp(21px, 5vw, 46px);
      font-family: "Cera Pro", Helvetica, sans-serif;
      margin-bottom: 41px;

      @media (max-width: 1279px) {
        margin-bottom: 25px;
      }

      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }

    //.blogger-videos-item
    &-item {

      //.blogger-videos-item__link
      &__link {
        display: block;
        border-radius: 20px;
        overflow: hidden;

        &::after {
          content: '';
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          display: inline-block;
          border-radius: 50%;
          width: min(8vw, 52px);
          height: min(8vw, 52px);
          background: url('https://svgshare.com/i/16o0.svg') center no-repeat;
        }

        @media (any-hover: hover) {
          &:hover, &:focus {
            .blogger-videos-item__img {
              transform: scale(1.07);
            }

          }
        }
      }

      //.blogger-videos-item__img
      &__img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        transition: transform 0.3s ease-in;
        object-fit: cover;
        aspect-ratio: 16 / 9;
      }
    }

    .swiper {

      --swiper-navigation-sides-offset: 0px;
      --swiper-theme-color: #ffffff;
      --swiper-navigation-size: 16px !important;
      --swiper-navigation-top-offset: 38%;
      --swiper-pagination-color: #f34841;

      @media (max-width: 767px) {
        --swiper-navigation-top-offset: 32%;
      }

      &-pagination {
        position: static;
        padding-top: 20px;

        &-bullet {
          margin-right: 20px;
          border-radius: 50%;

          @media (max-width: 479px) {
            margin-right: 8px;
          }
        }
      }

      &-button-prev, &-button-next {
        padding: 23px;
        background-color: rgba(138, 138, 138, 0.67) !important;
        border-radius: 50%;
        transition: background-color 0.3s ease 0s;

        @media (max-width: 767px) {
          padding: 16px;
        }

        @media (any-hover: hover) {
          &:hover {
            background-color: #f34841 !important;
          }
        }
      }
    }

  }

}

//===============================================================

.main-header {
  position: fixed;
  top: 0;
  z-index: 5;
  min-height: 75px;
  width: 100%;
  background-color: $mainWhiteColor;
  border-bottom: 1px solid $greyBorderColor;
  box-shadow: 0 0 8px $shadowVeryLowColor;
  transition: top 0.3s ease 0.1s;

  @media (min-width: 1279px) {
    padding-right: calc(19px - (100vw - 100%));
  }

  @media (max-width: 1279px) {
    padding: 13px 0;
  }
  @media (max-width: 767px) {
    padding: 17px 0;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    @media (min-width: 1279px) {
      padding: 0 5px;
      background-color: $mainWhiteColor;
    }

    &-img {
      width: auto;
      @media (min-width: 1279px) {
        width: 120px;
      }
      height: auto;
    }
  }
}

.main-nav {
  flex: 1 1 auto;
  background-color: $mainWhiteColor;
  margin: -1px 0;

  &__wrapper {
    display: flex;
    @media (max-width: 1279px) {
      display: flex;
      flex-direction: column;
      background-color: $mainWhiteColor;
      position: fixed;
      width: 100%;
      height: 90dvh;
      top: 75px;
      left: -120%;
      overflow: auto;
      transition: left 0.3s;

      .main-nav-open & {
        box-shadow: 0 20px 10px $shadowLowColor;
        left: 0;
        @media (max-width: 1279px) {
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 450px;
        }
        @media (max-width: 767px) {
          padding-bottom: 50px;
        }
      }
    }
  }

  &__list {
    display: flex;
    min-height: 74px;
    margin-right: 5px;

    @media (max-width: 1279px) {
      margin-bottom: 20px;
      display: block;
      min-height: auto;
    }
  }

  &-item {
    @media (max-width: 1279px) {
      border-bottom: 1px solid $greyBorderColor;
    }

    &__button {
      position: relative;
      display: flex;
      align-items: center;
      height: 100%;
      transition: background-color 0.3s;
      padding: 0 10px;
      white-space: nowrap;
      font-size: 14px;

      &--special {
        color: $redColor;
      }

      &::before {
        content: '';
        opacity: 0;
        position: absolute;
        width: 13px;
        height: 13px;
        top: 35px;
        right: 10px;
        transform: rotate(180deg);
        background: url('https://svgshare.com/i/14bH.svg') 0 0 / contain no-repeat;
        transition: transform 0.3s, right 0.1s, top 0.1s, opacity 0.3s ease 0.1s;
        @media (max-width: 1279px) {
          top: 14px;
          right: 0;
        }
      }

      &::after {
        content: '';
        bottom: -1px;
        display: block;
        height: 1px;
        right: 0;
        position: absolute;
        background: linear-gradient(
                        to left,
                        $redColor,
                        $blueGradientColor 100%
        );
        transition: width 0.3s, right 0.3s;
        width: 0;
      }

      svg {
        flex: 1 0 auto;
        width: 13px;
        height: 13px;
        margin-left: 5px;
        transition: transform 0.3s;
      }

      &.--spoiler-active {
        background-color: $blueBackColor;

        &::after {
          width: 100%;
          right: 0;
        }

        &::before {
          opacity: 1;
          transform: rotate(90deg);
          top: 31px;
          right: 6px;
          @media (max-width: 1279px) {
            top: 10px;
            right: -4px;
          }
        }

        svg {
          transition: transform 0.3s;
          transform: rotate(-90deg);
        }

        + .main-nav-item__wrapper {
          opacity: 1;
          visibility: visible;
          @media (max-width: 1279px) {
            max-height: 3000px;
          }

          .main-nav-item__container {
            top: 0;
            @media (max-width: 1279px) {
              top: -10px;
            }
          }
        }
      }

      @media (max-width: 1279px) {
        font-weight: 600;
        width: 100%;
        height: 100%;
        padding: 10px 0;
        display: block;
        text-align: left;

        svg {
          position: absolute;
          right: 0;
        }

        &.--spoiler-active {
          background: none;

          &::after {
            display: none;
          }
        }
      }
      @media (min-width: 1279px) {
        &:focus {
          background-color: $blueBackColor;
        }
      }

      @media (any-hover: hover) {
        &:hover {
          background-color: $blueBackColor;
        }
      }
    }

    &__wrapper {
      position: absolute;
      left: 0;
      top: 75px;
      width: 100%;
      max-height: 83dvh;
      overflow-y: auto;
      box-shadow: 0 12px 11px $shadowLowColor;
      background-color: $mainWhiteColor;
      padding: 40px 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
      z-index: -1;

      /* Создание кастомной полосы прокрутки */
      &::-webkit-scrollbar {
        width: 5px; /* Ширина полосы прокрутки */
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1; /* Цвет фона дорожки полосы прокрутки */
      }

      &::-webkit-scrollbar-thumb {
        background: #888; /* Цвет полосы прокрутки */
        border-radius: 5px;
        transition: background 0.3s ease 0s;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555; /* Цвет полосы прокрутки при наведении */
      }

      @media (max-width: 1279px) {
        position: static;
        overflow: hidden;
        max-height: 0;
        box-shadow: none;
        font-size: 14px;
        padding: 0 0;
        transition: opacity 0.3s, max-height 0.3s, visibility 0.3s;
      }
    }

    &__container {
      position: relative;
      top: -15px;
      display: flex;
      box-sizing: content-box;
      margin: 0 auto;
      column-gap: 30px;
      max-width: 1320px;
      padding: 0 30px;
      row-gap: 7px;
      transition: top 0.3s, opacity 0.3s;

      &--offers {
        display: block;
      }

      &--contacts {
        display: block;
      }

      &--blog {
        display: block;
      }

      @media (max-width: 1279px) {
        padding: 16px 8px;
      }
    }

    &__link {
      display: inline-block;
      font-size: 20px;
      padding: 12px 0;
      height: 100%;
      transition: color 0.3s;
      letter-spacing: 1px;

      &--exhibitions {
        font-size: 16px;
        letter-spacing: 0;
        @media (max-width: 1279px) {
          font-size: 14px;
          padding: 8px 0;
        }
        @media (max-width: 767px) {
          font-size: 12px;
        }
      }

      @media (any-hover: hover) {
        &:hover {
          color: $blueColor;
        }
      }

      @media (min-width: 1279px) {
        &:focus {
          color: $blueColor;
        }
      }
      @media (max-width: 1279px) {
        display: block;
        width: 100%;
        font-size: 14px;
        padding: 8px 0;
        letter-spacing: 0;
      }
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }

    &__grid-list {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-auto-rows: auto; // or 1fr если нужно, чтобы блоки были одинаковой высоты
      gap: 10px;
      margin-bottom: 30px;

      @media (max-width: 1279px) {
        margin-bottom: 15px;
      }

      > * {
        grid-column: 3 span;
        margin: 0 auto;
      }
    }
  }

  &-products {
    padding: 20px 0;

    @media (max-width: 1279px) {
      padding: 0;
    }

    &__wrapper {
      column-gap: 0;
      padding: 10px 20px;
      @media (max-width: 1279px) {
        padding: 10px 0;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      flex: 1 1 30%;
    }
  }

  &-service {
    text-align: center;
    @media (max-width: 1279px) {
      text-align: left;
    }

    &__wrapper {
      @media (max-width: 1279px) {
        flex-direction: column-reverse;
      }
    }

    &__list-container {
      flex: 1 1 70%;
      align-self: center;
      @media (max-width: 1279px) {
        align-self: flex-start;
      }
    }
  }

  &-exhibitions {
    &__wrapper {
      @media (max-width: 1279px) {
        flex-direction: column;
      }
    }

    &__list {
      flex: 1 1 70%;
      column-count: 2;
      column-rule: 1px solid $greyBorderColor;
    }
  }

  &-delivery {
    text-align: center;

    @media (max-width: 1279px) {
      text-align: left;
    }

    &__wrapper {
      @media (max-width: 1279px) {
        flex-direction: column-reverse;
      }
    }

    &__list-container {
      flex: 1 1 30%;
      align-self: center;
      @media (max-width: 1279px) {
        align-self: flex-start;
      }
    }
  }

  &-about {
    text-align: center;

    @media (max-width: 1279px) {
      text-align: left;
    }

    &__wrapper {
      @media (max-width: 1279px) {
        flex-direction: column;
      }
    }

    &__list-container {
      flex: 1 1 70%;
      align-self: center;
      @media (max-width: 1279px) {
        align-self: flex-start;
      }
    }
  }

  &-blog {
    &__list {
      @media (max-width: 767px) {
        > * {
          grid-column: 6 span;
        }
      }
    }
  }

  &-contacts {
    &__list {
      @media (max-width: 1279px) {
        > * {
          grid-column: 4 span;
        }
      }
      @media (max-width: 767px) {
        > * {
          grid-column: 6 span;
        }
      }
    }
  }

  &-offers {
    &__list {
      @media (max-width: 767px) {
        > * {
          grid-column: 6 span;
        }
      }
    }
  }
}

.products-item {
  opacity: 0.6;
  padding: 0 4px;

  &.main-nav-tab-active {
    opacity: 1;

    p {
      color: $blueColor;
      @media (max-width: 1279px) {
        color: inherit;
      }
    }

    .products-item__arrow {
      visibility: visible;
      fill: $blueColor;
    }

    .products-item__image {
      transform: scale(1.3);
    }

    @media (max-width: 1279px) {
      color: inherit;
      .products-item__arrow {
        visibility: hidden;
      }
      .products-item__image {
        transform: scale(1);
      }
    }
    @media (min-width: 1279px) {
      background-color: $beigeColor;
      border-radius: 10px;
      font-weight: 700;
    }
  }

  @media (max-width: 1279px) {
    opacity: 1;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 7px 0;

    @media (min-width: 1279px) {
      &:focus {
        .products-item & {
          color: $blueColor;
          background-color: $beigeColor;
          border-radius: 10px;
          font-weight: 700;

          .products-item__image {
            transform: scale(1.3);
          }
        }
      }
    }

    //  @media (any-hover: hover) {
    // &:hover {
    //   .products-item__image-wrapper {
    // ? Синий дэкграунд при наведении на айтемы Товаров

    //  &::before {
    //    content: '';
    //    background-color: $blueColor;
    //    box-shadow: 1px 2px 7px $shadowHighColor;
    //  }
    //   }
    // }
    //  }

    @media (max-width: 1279px) {
      padding: 5px 0;
    }
  }

  &__text {
    flex: 1 1 100%;
    height: 100%;
    white-space: nowrap;
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  &__image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 60px;
    height: 40px;
    margin-right: 8px;

    @media (max-width: 1279px) {
      width: 40px;
      height: 30px;
    }

    // ? Кружочки айтемов Товаров

    //  &::before {
    //    content: '';
    //    top: -3px;
    //    left: 0px;
    //    width: 45px;
    //    height: 45px;
    //    position: absolute;
    //    border-radius: 50%;
    //    z-index: 1;
    //    box-shadow: 1px 2px 6px $shadowLowColor;
    //    transition: background-color 0.3s;

    //    @media (max-width: 1279px) {
    //      width: 35px;
    //      height: 35px;
    //    }
    //    @media (max-width: 479px) {
    //      left: -2px;
    //    }
    //  }
  }

  &__image {
    position: relative;
    transition: transform 0.3s;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__arrow {
    height: 100%;
    display: flex;
    visibility: hidden;
    transform: rotate(-90deg);
  }
}

.products-media-block {
  display: flex;
  flex-direction: column;
  flex: 0 1 70%;
  padding-left: 60px;

  &__image {
    display: block;
    margin-bottom: 20px;
    border-radius: 20px;
    background: -webkit-linear-gradient(
                    360deg,
                    $blueGradientColor 3%,
                    $grayGradientColor
    );
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
    max-width: 500px;
  }

  &__desc {
    font-size: 20px;
    color: $greyColor;
    max-width: 500px;
    margin-bottom: 25px;
  }

  @media (max-width: 1279px) {
    display: none;
  }
}

.service-media-block {
  flex: 1 1 30%;
  position: relative;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
    @media (max-width: 1279px) {
      position: static;
    }
  }
}

.exhibitions-media-block {
  flex: 1 1 30%;
  align-self: center;

  &__image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
}

.delivery-media-block {
  flex: 1 1 70%;
  align-self: center;

  &__image {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.about-company-media-block {
  flex: 1 1 30%;
  align-self: center;

  &__image {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.blog-card {
  &__link {
    display: block;
  }

  &__image {
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 180px;
    height: auto;
    @media (max-width: 479px) {
      width: 140px;
    }
  }

  &__date {
    display: block;
    margin-bottom: 5px;
    color: $greyColor;

    @media (max-width: 1279px) {
      font-size: 12px;
    }
  }

  &__link {
    line-height: 18px;
    max-width: 180px;
    font-weight: 700;
    transition: color 0.3s;
    color: $blueColor;

    @media (min-width: 1279px) {
      &:focus {
        color: $redColor;
      }
    }
    @media (max-width: 1279px) {
      font-size: 12px;
      line-height: 12px;
    }
    @media (max-width: 479px) {
      max-width: 140px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }
  }
}

.contacts-card {
  &--krasnodar {
    @media (min-width: 1277px) {
      grid-column: 4/7;
    }
    @media (max-width: 767px) {
      grid-column: 6 span;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__link {
    align-self: flex-start;
    height: 100%;
    color: $blueColor;
    font-weight: 700;
    transition: color 0.3s;
    margin-bottom: 10px;

    @media (min-width: 1279px) {
      &:focus {
        color: $redColor;
      }
    }

    @media (max-width: 1279px) {
      font-size: 13px;
      margin-bottom: 6px;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }
  }

  &__image {
    width: 180px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;

    @media (max-width: 1279px) {
      margin-bottom: 5px;
    }

    @media (max-width: 479px) {
      width: 140px;
    }
  }

  &__list {
    @media (max-width: 479px) {
      width: 140px;
    }
  }

  &__term {
    color: $greyColor;
    margin-bottom: 5px;
  }

  &__address {
    max-width: 180px;
    margin-bottom: 12px;

    @media (max-width: 1279px) {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }

  &__phone {
    @media (max-width: 1279px) {
      font-size: 12px;
    }

    a {
      font-weight: 700;
      transition: color 0.3s;
      @media (any-hover: hover) {
        &:hover {
          color: $blueColor;
        }
      }
      @media (min-width: 1279px) {
        &:focus {
          color: $blueColor;
        }
      }
    }
  }
}

.offers-card {
  &__img-wrapper {
    display: block;
    max-width: 250px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 8px;

    @media (max-width: 1279px) {
      margin-bottom: 3px;
    }

    @media (min-width: 1279px) {
      &:focus {
        .offers-card__img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__date {
    display: inline-block;
    font-weight: 700;
    color: $redColor;
    margin-bottom: 10px;

    time {
      color: $redColor;
    }

    @media (max-width: 1279px) {
      font-size: 11px;
      margin-bottom: 3px;
    }
  }

  &__title-wrapper {
    display: block;
    font-weight: 700;
    line-height: 1.15;
    transition: color 0.3s;
    color: $blueColor;
    max-width: 250px;

    @media (min-width: 1279px) {
      &:focus {
        color: $redColor;
      }
    }
    @media (max-width: 1279px) {
      font-size: 11px;
    }
    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }
  }

  &__title {
    line-height: 18px;
    color: $blueColor;
    @media (max-width: 1279px) {
      line-height: 12px;
    }
  }
}

.mobile-contacts {
  @media (min-width: 1279px) {
    margin-left: auto;
    margin-right: 10px;
    align-self: center;
  }

  &__list {
    @media (min-width: 1279px) {
      display: none;
    }
  }

  &__item {
    margin-bottom: 20px;
  }

  &__term {
    font-weight: 400;
    color: $greyColor;
    margin-bottom: 10px;
  }

  &__tel {
    a {
      font-weight: 600;
    }
  }

  &__mail {
    a {
      font-weight: 600;
    }
  }
}

.social {
  @media (max-width: 1279px) {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    column-gap: 25px;
  }

  &__item {
    &--vk {
      @media (min-width: 1279px) {
        display: none;
      }

      svg {
        fill: $vkColor;
      }
    }

    &--telegram {
      svg {
        fill: $tgColor;
      }
    }

    &--whatsapp {
      @media (min-width: 1279px) {
        display: none;
      }
    }
  }

  &__link {
    display: block;
    @media (min-width: 1279px) {
      &:focus {
        svg {
          transform: scale(1.3);
        }
      }
    }

    svg {
      width: 30px;
      height: 30px;
      @media (min-width: 1279px) {
        transition: transform 0.3s ease 0s;
        @media (any-hover: hover) {
          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}

.info-header {
  display: flex;
  align-items: center;
  @media (max-width: 1279px) {
    margin-right: 45px;
  }
  @media (min-width: 1279px) {
    padding: 0 0;
    background-color: $mainWhiteColor;
  }
}

.search-header {
  width: 40px;
  height: 40px;
  margin-right: 45px;

  @media (max-width: 767px) {
    margin-right: 0;
    order: 2;
  }

  &__button {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.3s;

    &.--spoiler-active {
      + .search-header__input-block {
        transition: opacity 0.3s;
        opacity: 1;
        visibility: visible;
        max-height: 1000px;
        @media (max-width: 1279px) {
          display: block;
        }

        .main-nav-item__container {
          top: 0;
          @media (max-width: 1279px) {
            top: -10px;
          }
        }
      }

      &::before {
        content: '';
        transition: background 0.3s;
        background: url('https://svgshare.com/i/14bd.svg') 100% / contain no-repeat;
      }
    }

    &::before {
      content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      top: 5px;
      position: absolute;
      left: 5px;
      background: url('https://svgshare.com/i/14ab.svg') 100% / contain no-repeat;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $blueBackColor;
      }
    }
    @media (min-width: 1279px) {
      &:focus {
        background-color: $blueBackColor;
      }
    }
  }
}

.input-block {
  position: absolute;
  left: 0;
  top: 75px;
  min-width: 100%;
  box-shadow: 0 20px 10px $shadowLowColor;
  text-align: center;
  z-index: 4;
  background-color: $mainWhiteColor;
  opacity: 0;
  visibility: hidden;
  max-height: 0;

  &__wrapper {
    display: block;
  }

  input {
    width: 400px;
    margin: 30px 0;
    border: 1px solid $inputBorder;
    padding: 8px 13px;
    border-radius: 8px;
    background-color: $inputBackColor;
    transition: background-color 0.3s;

    @media (max-width: 767px) {
      width: 250px;
    }

    &:focus {
      border: 1px solid #00000000;
      background-color: $mainWhiteColor;
      outline: 2px solid $blueColor;
    }
  }
}

.contacts-info {
  margin-right: 8px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  font-size: 14px;

  &__phone {
    position: relative;
  }

  &__phone-value {
    font-weight: 700;
    transition: color 0.3s;

    @media (any-hover: hover) {
      &:hover {
        color: $blueColor;
      }
    }

    @media (min-width: 1279px) {
      &:focus {
        color: $blueColor;
      }
    }

    @media (max-width: 767px) {
      font-size: 14px;
    }

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      left: -37px;
      width: 30px;
      height: 30px;
      background: url('https://svgshare.com/i/14be.svg') 100% / contain no-repeat;
    }
  }

  &__mail {
    position: relative;
    @media (max-width: 767px) {
      display: none;
    }
  }

  &__mail-value {
    font-weight: 700;
    transition: color 0.3s;
    padding-left: 5px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -32px;
      width: 24px;
      height: 20px;
      background: url('https://svgshare.com/i/14b7.svg') 100% / contain no-repeat;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $blueColor;
      }
    }
    @media (min-width: 1279px) {
      &:focus {
        color: $blueColor;
      }
    }
  }
}

.main-nav-title {
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: $greyColor;
  letter-spacing: 1px;

  @media (max-width: 1279px) {
    margin-bottom: 10px;
  }
}

.icon-menu {
  display: none;
  @media (max-width: 1279px) {
    display: block;
    position: absolute;
    top: 28px;
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $mainBlackColor;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - 0.0625rem);
    }
    .main-nav-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - 0.0625rem);
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - 0.0625rem);
        transform: rotate(45deg);
      }
    }
  }
}

//===============================================================

.modal-mistakes {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);

  &__content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px 25px;
    border: 1px solid #888;
    max-width: 400px;
    border-radius: 10px;
  }

  &__close {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0 8px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: inherit;
    border: 0;

    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
    }
  }
}

.form-mistakes {
  &__text {
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-family: Cera Pro, serif;
    color: #777;
    margin-bottom: 4px;
  }

  &__selected-text {
    max-width: 100%;
    max-height: 100px;
    margin-bottom: 16px;
    border-left: 5px solid #0094DA;
    padding: 12px 8px 12px 16px;
    overflow-y: auto;
    line-height: 1.3;
    background-color: #F5F8FF;
  }

  &__textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 35px;
    max-height: 350px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease 0s;

    &:focus, :active {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  &__name {
    max-width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease 0s;

    &:focus, :active {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }
}

.form-button-block {
  display: flex;
  justify-content: space-between;

  &__button {
    display: block;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: #0094da;;
    min-width: 150px;
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;

    &--submit {
      border: 1px solid #0094da;
      @media (any-hover: hover) {
        &:hover,
        &:focus {
          color: white;
          background-color: #0094da;
        }
      }
    }

    &--cancel {
      border: 1px solid #f44336;
      @media (any-hover: hover) {
        &:hover,
        &:focus {
          border: 0;
          color: white;
          background-color: #f44336;
        }
      }
    }
  }
}

//===============================================================

.visually-hidden {
  display: none;
}

.main-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 20px;

  @media (max-width: 1279px) {
    font-size: 24px;
  }
}

.btn {
  display: inline-block;
  min-width: 200px;
  padding: 19px 35px;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: $mainWhiteColor;
  vertical-align: middle;
  background-color: $primary-color;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;

  @media (max-width: 767px) {
    padding: 10px 15px;
    font-size: 14px;
  }

  @media (max-width: 479px) {
    padding: 10px 8px;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: $danger-color;
    }
  }

  &--center {
    display: block;
    max-width: 250px;
    margin: 0 auto;
    transition: background-color 0.3s;

    @media (max-width: 767px) {
      max-width: 200px;
    }
  }

  &--products {
    transition: background-color 0.3s;
  }
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s, left 0.3s, top 0.3s, width 0.3s,
  background-color 0.3s, height 0.3s, visibility 0.3s;

  &.--active {
    background-color: $shadowMiddleColor;
    opacity: 1;
    visibility: visible;
  }
}